.bg-img {
    background-image: url("movieback.jpg");
    background-repeat: none;
    background-size: cover;
}


/* .navColor {
    color: white;
    font-size: 22px;
    background-color: green;
    margin: 5px;
} */

.navbar-back {
    background-image: url(21.jpg);
}

.content {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 0;
}

.section-2 {
    margin: 10px;
    margin-right: 5px;
    text-align: justify;
    padding: 12px;
}

.icons {
    margin: 20px 0;
}

.w-100 {
    width: 100%!important;
    height: 30%!important;
}

.material-icons {
    color: white;
    background: rgb(81, 95, 221);
    display: block;
    height: 100px;
    width: 100px;
    padding: 30px;
    margin: auto;
    border-radius: 50%;
}

.footer {
    background: #000113;
    margin: 20px;
    padding: 20px;
    color: white;
}

.services {
    margin: 20px;
    padding: 20px;
    text-align: justify;
}

.services h3 {
    color: rgb(100, 100, 202);
}

.row {
    flex-wrap: nowrap;
}

.sidemovies {
    display: block;
    margin: auto;
}


/* .nav-position {
    r;
} */